{% extends 'app.html' %}

{% block title %}- Editar Estado do Questionário{% endblock title %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Editar Estado do Questionário</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label">Novo Estado:</label>
                <div class="control">
                    {{ form.estado }}
                </div>
            </div>
            <div style="margin-top:8%;text-align:center;">
                <button type="button" class="button is-outlined" style="margin-right:5%" onclick="history.back();">Voltar</button>
                <button type="submit" name="confirmar" value="confirmado" class="button is-success is-outlined">
                    <span>Confirmar</span>
                </button>            
            </div>
        </form>
    </div>
</section>
{% endblock content %}
